<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.currencyapplication.currencyapplicatio"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.currencyapplication.currencyapplicatio.SplachActivity"
            android:theme="@style/AppThemeNo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.currencyapplication.currencyapplicatio.MainActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7449694416039010~5357214441" />

        <receiver
            android:name="com.currencyapplication.currencyapplicatio.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.currencyapplication.currencyapplicatio.MyService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name="com.currencyapplication.currencyapplicatio.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <provider
            android:name="com.startapp.sdk.adsbase.StartAppInitProvider"
            android:authorities="${applicationId}.startappinitprovider"
            android:exported="false" />

        <activity
            android:name="com.startapp.sdk.adsbase.consent.ConsentActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.startapp.sdk.ads.list3d.List3DActivity"
            android:theme="@android:style/Theme" />
        <activity
            android:name="com.startapp.sdk.adsbase.activities.OverlayActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.startapp.sdk.adsbase.activities.FullScreenActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@android:style/Theme" />

        <service android:name="com.startapp.sdk.adsbase.InfoEventService" />
        <service
            android:name="com.startapp.sdk.adsbase.PeriodicJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="com.startapp.sdk.adsbase.remoteconfig.BootCompleteListener">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
    <meta-data
        android:name="com.startapp.sdk.APPLICATION_ID"
        android:value="207592121" />


    <uses-permission android:name="android.permission.INTERNET" />

</manifest>